<div class='panel panel-primary'>
  <div class='panel-heading'>
      Product List
  </div>
  <div class='panel-body'>
      <div class='table-responsive'>
          <input type="text" [(ngModel)]='txtFilter'>
          <table class='table'
                  >
              <thead>
                  <tr>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Price</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let product of asyncProducts | async | productFilter : txtFilter'>
                      <td>
                        <a [routerLink]="['/product', product.productId]">
                        {{ product.productName }}
                        </a>
                      </td>
                      <td>{{ product.productCode }}</td>
                      <td>{{ product.releaseDate }}</td>
                      <td>{{ product.price}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<div *ngIf='!asyncProducts || !asyncProducts.length' class='alert alert-danger'>
  No data found
</div>